{{ define "main" }}
  <article class="post archives" itemscope itemtype="http://schema.org/Blog">
  <h1 id="title">{{ .Title }}</h1>
  {{- template "_internal/schema.html" . -}}
    {{ .Content }}
    {{ range (.Pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
      {{ range (.Pages.GroupByDate "January") }}
      <h3>{{ .Key }}</h3>
        {{ range .Pages}}
{{ $title := .Site.Title }}{{ if .Title }}{{ $title = .Title}}{{ end }}
{{ $description := .Description }}
{{ if .IsPage }}
{{ $description = .Summary }}
{{ end }}
{{ $description = $description | default .Site.Params.description }}
          <a href="{{.Permalink}}" class="post-preview-text-wrapper"><section class="post-preview-text" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting" >
            <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" itemprop="datePublished">{{.Date.Format "Jan 2, 2006"}}</time><br>
            <em itemprop="name headline">{{$title}}</em>
            <p class="summary" itemprop="description">{{$description}}</p>
            <meta itemprop="url" content="{{.Permalink}}">
          </section></a>
        {{ end }}
      {{ end }}
    {{ end }}
  </article>
{{ end }}