
$code-font: Consolas,
monaco,
monospace;

$text-font: Open Sans,
Verdana,
Segoe,
sans-serif;

$head-font: Roboto,
Verdana,
Segoe,
sans-serif;

$line-color: #555555;
$text-color: #2a2a2a;
$text-faded-color: #464646;

$link-color: #0f0f0f;
$link-active-color: #444444;

$code-color: #e0e0e0;
$code-bg-color: #272822;

$header-hight: 3.5rem;


$site-width: 95vw; // The side-padding

$bg-color: rgb(255, 255, 255);
$article-color: rgb(238, 238, 238);
$cta-color: #037DB5;

$box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
$light-box-shadow: 0 2px 2.5px 0 rgba(0, 0, 0, .07), 0 0.5px 5px 0 rgba(0, 0, 0, .06), 0 1px 2px -0.5px rgba(0, 0, 0, .1);