{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/Article">
  <h1 id="title">{{ .Title }}</h1>
  {{- template "_internal/schema.html" . -}}
  {{ partial "aside" . }}
  <!-- {{with .Params.images }}
    <img src="{{ (index . 0) | absURL }}" alt="Splash Image" class="splash">
  {{end}} -->
  {{ .Content }}
  {{if or .PrevInSection .NextInSection}}
  <nav class="prev-next">
    {{if .PrevInSection}}<a class="prev" href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}"><img src="/feather/chevron-left.svg" onerror="this.src='/feather/chevron-left.png'" alt="(Previous)"> {{.PrevInSection.Title}}</a>{{end}}
    {{if .NextInSection}}<a class="next" href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}">{{.NextInSection.Title}} <img src="/feather/chevron-right.svg" onerror="this.src='/feather/chevron-right.png'" alt="(Next)"></a>{{end}}
  </nav>{{end}}
  {{ if and .Site.DisqusShortname (not (or .Site.Params.disable_comments .Params.disable_comments)) }}
  <section id="disqus_thread">
<script type="application/javascript">
    var disqus_config = function () {
    {{with .Params.disqus_identifier }}this.page.identifier = '{{ . }}';{{end}}
    {{with .Params.disqus_title }}this.page.title = '{{ . }}';{{end}}
    {{with .Params.disqus_url }}this.page.url = '{{ . | html  }}';{{end}}
    };
    (function() {
        if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
            document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.';
            return;
        }
        var d = document, s = d.createElement('script'); s.async = true;
        s.src = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
{{ end }}
</article>

{{ end }}