<script type="application/javascript">
(function (i, r) {
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
  (i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
})(window, 'ga');
{{ with .Site.GoogleAnalytics }}
ga('create', '{{ . }}', {'siteSpeedSampleRate': 25});
{{ if $.Site.Params.AnonymizeIP }}ga('set', 'anonymizeIp', true);{{ end }}
ga('send', 'pageview');
a = document.createElement('script'),
m = document.getElementsByTagName('script')[0]||document.getElementsByTagName("head")[0].firstChild; a.async = 1; a.src = 'https://www.google-analytics.com/analytics.js'; m.parentNode.insertBefore(a, m)
{{ end }}
</script>