<header>
  <nav>
    <a href="/"><img src="/logos/logo-black-white.png" alt="home" class="logo"></a>
    <a class="button" href="/#about-us">About</a>
    <a class="button" href="/posts/">Blog</a>
    <a class="button cta right" href="/join">Join SHYC</a>
    <div class="socials">
      <a class="social button" href="https://twitter.com/{{ .Site.Data.socials.twitter }}"><img src="/icons/twitter.svg" alt="twitter" /></a>
      <a class="social button" href="https://youtube.com/{{ .Site.Data.socials.youtube }}"><img src="/icons/youtube.svg" alt="youtube" /></a>
      <a class="social button" href="https://instagram.com/{{ .Site.Data.socials.instagram }}"><img src="/icons/instagram.svg" alt="instagram" /></a>
      <a class="social button" href="https://facebook.com/{{ .Site.Data.socials.facebook }}"><img src="/icons/facebook.svg" alt="facebook" /></a>
    </div>
  </nav>
</header>
<div class="header-spacer"></div>