{{ $title := .Site.Title }}{{ if .Title }}{{ $title = .Title}}{{ end }}
{{ $description := .Description }}
{{ if .IsPage }}
  {{ $description = $description | default .Summary }}
{{ end }}
{{ $description = $description | default .Site.Params.description }}
<a href="{{.Permalink}}" class="post-preview-wrap">
  <article class="post-preview">
    <em>{{ $title }}</em>
    {{/*<div class="meta">
      time>{{ page.date | date(format="%F") }}</time> -->
      <span class="category">
        <a href="{{ get_taxonomy_url(kind="category", name=page.category) }}">{{ page.category }}</a>
      </span>
    </div>
    */}}
    <div class="summary">{{ $description }}</div>
  </article>
</a>