{{ $title := .Site.Title }}{{ if .Title }}{{ $title = .Title}}{{ end }}
{{ $description := .Description }}
{{ if .IsPage }}
{{ $description = .Summary }}
{{ end }}
{{ $description = $description | default .Site.Params.description }}
<a href="{{.Permalink}}" class="post-preview-text-wrapper">
  <section class="post-preview-text" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <h4 itemprop="name headline">{{$title}}</h4>
    <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" itemprop="datePublished">{{.Date.Format "Jan 2, 2006"}}</time>
    <p class="summary" itemprop="description">{{$description}}</p>
    <meta itemprop="url" content="{{.Permalink}}">
  </section>
</a>